---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SubtitleSection from "@/components/SubtitleSection.astro";
import TitleSection from "@/components/TitleSection.astro";
import Link from "@/components/icons/Link.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import GitHub from "@/components/icons/GitHub.astro";
import Workana from "@/components/icons/Workana.astro";
import Upwork from "@/components/icons/Upwork.astro";

const socialMedia = [
  {
    href: "https://www.linkedin.com/in/lucas-cirille/",
    name: "LinkedIn",
    icon: LinkedIn,
  },
];
const coding = [
  {
    href: "https://github.com/lucascirille",
    name: "Github",
    icon: GitHub,
  },
];
const freelancer = [
  {
    href: "https://www.workana.com/freelancer/0e7ec107e09564a4f1d3aa28e90c7991",
    name: "Workana",
    icon: Workana,
  },
  {
    href: "https://www.upwork.com/freelancers/~01c55b9a2b8e712614?mp_source=share",
    name: "Upwork",
    icon: Upwork,
  },
];
---

<Layout
  title="Porfolio de dotNeit - Desarrollador y Programador Web con mas de 4 años de experiencia"
  description="Contrata a dotNeit para crear tu aplicación web o móvil. Desarrollador Web y Estudiante de ing. en Sistemas. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <TitleSection>
        <Link />
        Links!
      </TitleSection>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer>
        <SubtitleSection>Redes Sociales</SubtitleSection>
        <ul class="flex gap-10 flex-wrap w-max">
          {
            socialMedia.map(({ href, name, icon: Icon }) => (
              <li>
                <SocialPill href={href}>
                  <Icon />
                  {name}
                </SocialPill>
              </li>
            ))
          }
        </ul>
      </SectionContainer>
      <SectionContainer>
        <SubtitleSection>Codigo</SubtitleSection>
        <ul class="flex gap-10 flex-wrap w-max">
          {
            coding.map(({ href, name, icon: Icon }) => (
              <li>
                <SocialPill href={href}>
                  <Icon />
                  {name}
                </SocialPill>
              </li>
            ))
          }
        </ul>
      </SectionContainer>
      <SectionContainer>
        <SubtitleSection>Portales de trabajo</SubtitleSection>
        <ul class="flex gap-10 flex-wrap w-max">
          {
            freelancer.map(({ href, name, icon: Icon }) => (
              <li>
                <SocialPill href={href}>
                  <Icon />
                  {name}
                </SocialPill>
              </li>
            ))
          }
        </ul>
      </SectionContainer>
    </div>
  </main>
</Layout>
