---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import React from "./icons/React.astro";
import Expo from "./icons/Expo.astro";
import Css from "./icons/Css.astro";
import Express from "./icons/Express.astro";
import Prisma from "./icons/Prisma.astro";
import Net from "./icons/Net.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#007A7A] text-white",
    icon: React,
  },
  EXPO: {
    name: "Expo",
    class: "bg-[#CDCDCD] text-black",
    icon: Expo,
  },
  CSS: {
    name: "Css",
    class: "bg-[#153574] text-white",
    icon: Css,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#202020] text-white",
    icon: Express,
  },
  PRISMA: {
    name: "Prisma.js",
    class: "bg-[#305E95] text-white",
    icon: Prisma,
  },
  NET: {
    name: "ASP .NET",
    class: "bg-[#024069] text-dark",
    icon: Net,
  },
  ENTITY: {
    name: "Entity Fw.",
    class: "bg-[#252525] text-white",
    icon: Net,
  },
};
const PROJECTS = [
  {
    title: "EventCraft - Tu historia, nuestro lugar",
    description:
      "Pagina Web de reservas y gestion de eventos de clase Social y Empresarial.",
    link: "#",
    github: "https://github.com/lucascirille/EventCraft",
    image: "/projects/eventCraft.webp",
    tags: [TAGS.ENTITY, TAGS.NET, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "VigiNet - Comunidad segura",
    description:
      "App Móvil para un sistema de alarma vecinal, pudiendo alertar dependiendo del problema, con estadisticas para saber en donde es mas frecuente el problema.",
    link: "#",
    github: "https://github.com/lucascirille/VigiNet",
    image: "/projects/VigiNet.webp",
    tags: [TAGS.PRISMA, TAGS.EXPRESS, TAGS.EXPO, TAGS.CSS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col  space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="flex justify-center w-full md:w-1/2">
          <div class="inline-block w-full md:w-auto">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt="proyect preview"
                class=" object-contain object-top w-full transition duration-500 sm:h-56 md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
